<h1>New comment</h1>

<%= form_with(model: [@user, @post, @comment], url: user_post_comments_path(user_id: @user, post_id: @post)) do |f| %>
  <div>
    <%= f.label :text %> <br>
    <%= f.text_area :text %>
  </div>
  <%= f.submit %>
<% end %>
